.chat-box {
    /* border: 1px solid black; */
    /* background-color: rebeccapurple; */
    width: 70%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}

@media(max-width : 760px) {
    .chat-box {
        width: 0%;

    }
}