p {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: 5px;
    width: fit-content;
    height: 25px;
    padding: 5px;
    background-color: #ff4f5a;
    color: white;
    font-size: small;

}

.cancle-icon {
    color: #ff4f5a;
}